<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
    <title>Karen Yj Shih</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Karen Shih, Karen Yj Shih, personal website, research, UC Berkeley, Stanford">
    <meta name="author" content="Karen Shih">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Karen Shih">
    <meta property="og:description" content="Karen Shih's personal website.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kyshih.github.io/karenshih">
    <meta property="og:site_name" content="Karen Shih's Personal Website">
    
    <!-- Schema.org Markup for Google+ -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Karen Shih",
        "url": "https://kyshih.github.io/karenshih",
        "sameAs": [
            "http://instagram.com/karenshih15",
            "http://www.linkedin.com/in/karen-shih-5807a6116",
            "https://scholar.google.com/citations?user=Ektz5joAAAAJ&hl=en"
        ],
        "alumniOf": "UC Berkeley",
        "description": "Karen Shih's personal website."
    }
    </script>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
