/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  color: $text-color;
  background-color: $white-color;
  -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
.highlight,
%vertical-rhythm {
  margin-bottom: calc($vertical-spacing-unit / 2);
}

// TODO: remove if not used.
.alignright {
  float: right;
}

hr{
  /* Inset, by Dan Eden */
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Tables
 */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  vertical-align: middle;
}

th, td {
  padding: 8px;
}

thead {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

// not supported by Markdown.
tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}

tbody tr:nth-child(even) th {
  background-color: #25c;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $horizontal-spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: $theme-color;
    text-decoration: none;
  }
}

article a {
  color: $theme-color;
  font-weight: $base-font-weight;

  &:hover {
    text-decoration: none;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  border-left: 10px solid $grey-color-dark;
  background-color: $grey-color-light;
  margin: 1em 0px;
  padding: 0.5em 10px;
  font-size: $bq-font-size;

  > :last-child {
    margin-bottom: 0;
  }
}

/* Notes, warnings, and error */
.post .post-content blockquote {
  &.block-note {
    border-color: $bq-note-color;
    background-color: $bq-note-color-bg;

    p {
      color: $bq-note-color-text;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $bq-note-color-title;
    }
  }

  &.block-warning {
    border-color: $bq-warning-color;
    background-color: $bq-warning-color-bg;

    p {
      color: $bq-warning-color-text;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $bq-warning-color-title;
    }
  }

  &.block-error {
    border-color: $bq-error-color;
    background-color: $bq-error-color-bg;

    p {
      color: $bq-error-color-text;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $bq-error-color-title;
    }
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: $code-font-size;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  tab-size: 2;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */ 

.wrapper {
  max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
  max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $horizontal-spacing-unit;
  padding-left: $horizontal-spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit}));
    max-width:         calc(800px - (#{$horizontal-spacing-unit}));
    padding-right: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
  }
}


/**
 * Clearfix
 */
%clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
