/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-weight: 100;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5em;

/* layout */
$spacing-unit:                  30px;
$horizontal-spacing-unit:       25px;
$vertical-spacing-unit:         30px;
$header-height:                 56px;

/* colors  */
$red:  #FF3636;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;
$white-color: #FFFFFF;
$black-color: #000000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%); /* navigation bar border */
$grey-color-dark:  darken($grey-color, 25%);  /* footer */

$text-color:       #666;
$theme-color:      $red;

/* block quotes */
$bq-font-size:              18px;
$bq-note-color:             #42b983;
$bq-note-color-bg:          #e2f5ec;
$bq-note-color-text:        #215d42;
$bq-note-color-title:       #359469;
$bq-warning-color:          #e7c000;
$bq-warning-color-bg:       #fff8d8;
$bq-warning-color-text:     #6b5900;
$bq-warning-color-title:    #b29400;
$bq-error-color:            #c00;
$bq-error-color-bg:         #ffe0e0;
$bq-error-color-text:       #600;
$bq-error-color-title:      #c00;

/* syntax highlighting */
$code-font-size:   15px;

/* portfolio tinkering */
$img_spacing: 5px; 
$caption_font_size: 12px;
$caption_color: #aaa;

$on-palm:          600px;
$on-laptop:        800px;
